@{
  Layout = "_Layout";
}

@model Clinic.Models.Patient

<h2>Add a Doctor for : @Html.DisplayFor(model => model.PatientName)</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PatientId)

    @Html.Label("Add doctor")
    @Html.DropDownList("DoctorId")

    <input type="submit" value="Save" class="btn btn-default" />
}